@import url("https://use.typekit.net/hxq1boj.css");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=DM+Serif+Text&family=Zen+Old+Mincho:wght@400;500;600;700;900&display=swap");

@font-face {
  font-family: "relation-one";
  font-weight: 700;
  font-style: normal;
  src: url("/path/to/relation-one.woff2") format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
